@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=EB+Garamond&family=Libre+Baskerville:wght@400;700&family=Lora:ital@1&family=Merriweather:ital,wght@1,900&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgb(11 10 10);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.search {
    position: absolute;
    top: 20px;
    right: 20px;

}

#city {
    /* background-color: transparent; */
    outline: none;
    padding: 5px;
    border: 0px solid black;
    border-radius: 100px;
    font-family: 'Merriweather', serif;
}

#myBtn {
    outline: none;
    padding: 3px;
    border: 0px solid black;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Merriweather', serif;
}

#logo {
    margin: 8px 13px;
}

#logo img {
    height: 50px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 0px;
}

#navbar ul {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
    color: rgb(237, 232, 232);
    padding-bottom: 7px;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
    /* font-family: 'Playfair Display', serif; */
}

#home::before {
    content: "";
    position: absolute;
    background: url('images/bg1.jpg') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.mainpage {
    width: 80%;
    max-width: 800px;
    background: black;
    opacity: 0.7;
    color: white;
    margin: 10px auto;
    border-radius: 30px;
    padding: 12px 12px;
    text-align: center;
}

.wicon {
    width: 130px;
    margin-top: 3px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 800;
}

.weather h2 {
    font-size: 50px;
    font-weight: 600;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    padding: 15px;
}

.ptag {
    padding: 3px;
    font-size: larger;
}